<div class="login">

  <p class="login__Warning" [hidden]="!warn">You must be logged in to do that!</p>

  <h2 class="login__title">Log In</h2>

  <form #loginForm="ngForm" class="login__form">

    <div class="login__group">
      <label for="email" class="login__label">Email</label>
      <input
        class="form-control login__input"
        type="text"
        name="email"
        id="email"
        [(ngModel)]="email"
        minlength="5"
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        required
        #attemptEmail="ngModel"
      >
    </div>

    <div class="login__group">
      <label for="pw" class="login__label">Password</label>
      <input
        class="form-control login__input"
        type="password"
        name="pw"
        id="pw"
        [(ngModel)]="pw"
        minlength="7"
        required
        #attemptPW="ngModel"
      >
    </div>

    <button (click)="attemptLogin()">Log In</button>

  </form>

  <p class="login__text--mini">Don't have an account? <a [routerLink]="['/reg']">Register Here</a> </p>

</div>
