<div class="data">


  <h2 class="data__title">Add New Job</h2>
  <form #dataForm="ngForm" class="data__form">

    <div class="data__group">
      <label for="customer" class="data__label">Customer</label>
      <!-- Needs add new customer option -->
      <input
        class="form-control data__input"
        type="text"
        minlength="3"
        required
        [(ngModel)]="customer"
        name="customer"
        #customerInput="ngModel"
      >
    </div>

    <div class="data__group">
      <label class="data__label" for="date">Date</label>
      <input
        class="form-control data__input"
        type="date"
        [(ngModel)]="date"
        name="date"
        #dateInput="ngModel"
        required
      >
    </div>

    <div class="data__group">
      <label for="qty" class="data__label">Quantity</label>
      <input
        class="form-control data__input"
        type="number"
        [(ngModel)]="qty"
        name="qty"
        #qtyInput="ngModel"
        min="1"
        step="1"
        required
        inputmode="numeric"
      >
    </div>

    <div class="data__group">
      <label for="rate" class="data__label">Rate</label>
      <input
        type="number"
        class="form-control data__input"
        [(ngModel)]="rate"
        name="rate"
        inputmode="numeric"
        #rateInput="ngModel"
        min="1"
        step="0.01"
        required
      >
    </div>

    <div class="data__group">
      <label class="data__label" for="revenue">Revenue</label>
      <input
        class="form-control data__input"
        type="number"
        step="any"
        name="revenue"
        [(ngModel)]="revenue"
        #revenueInput="ngModel"
        required
        min="0"
      >
    </div>

    <div class="data__group">
      <label for="discounts" class="data__label">Discounts</label>
      <input
        class="form-control data__input"
        type="number"
        inputmode="numeric"
        name="discounts"
        [(ngModel)]="discounts"
        #discountInput="ngModel"
      >
    </div>

    <div class="data__label">
      <label for=""></label>
    </div>

    <h3 class="data__subtitle">Crew</h3>

    <div class="data__group">
      <label for="crewName">Crew Name</label>
      <!-- Add option to create new crew/employee -->
      <input
        class="form-control data__input"
        name="crewName"
        type="text"
        [(ngModel)]="crewName"
        #crewNameInput="ngModel"
      >
    </div>

    <div class="data__subgroup">

      <div class="data__group">
        <label for="crewMember" class="data__label">Crew Member</label>
        <input
          type="text"
          name="crewMember"
          [(ngModel)]="crewMember"
          #crewMemberInput="ngModel"
        >
        <button>+</button>
      </div>

      <!-- TODO: option for adding more members to team -->

    </div>

    <div class="data__group">
      <label for="start" class="data__label">Start Time</label>
      <input
        type="time"
        name="start"
        [(ngModel)]="start"
        #startInput="ngModel"
        required
      >
    </div>

    <div class="data__group">
      <label for="end" class="data__label">End Time</label>
      <input
        type="time"
        name="end"
        [(ngModel)]="end"
        #endInput="ngModel"
        required
      >
    </div>

    <button [disabled]="dataForm.form.invalid" (click)="submit()">Submit</button>

  </form>

</div>
