<div class="data">

  <h2 class="data__title"></h2>
  <table class="data__history">
    <thead class="data__headrow">
      <th class="data__header">For Date</th>
      <th class="data__header">Expenses</th>
      <th class="data__header">Revenue</th>
      <th class="data__header">Actions</th>
      <th class="data__header">Date Entered</th>
      <th class="data__header">Actions</th>
    </thead>
    <tr class="data__entry">
      <!-- What goes here will depend on DB info and how we pull it in -->
      <td class="data__item"></td>
      <td class="data__item"></td>
      <td class="data__item"></td>
      <td class="data__item"></td>
      <td class="data__item"></td>
      <td class="data__item"></td>
    </tr>
  </table>

</div>
