<div class="history">
  <h2 class="history__title">Job History</h2>
  <button [routerLink]="['/data']">Add Job</button>
  <table class="history__table">
    <thead class="history__headrow">
      <th class="history__header">Job Date</th>
      <th class="history__header">Expenses</th>
      <th class="history__header">Revenue</th>
      <th class="history__header">Actions</th>
      <th class="history__header">Date Entered</th>
      <th class="history__header">Actions</th>
    </thead>
    <tr class="history__entry">
      <!-- What goes here will depend on DB info and how we pull it in -->
      <td class="history__item"></td>
      <td class="history__item"></td>
      <td class="history__item"></td>
      <td class="history__item"></td>
      <td class="history__item"></td>
      <td class="history__item"></td>
    </tr>
  </table>
</div>
