* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 4rem; }

p {
  font-size: 2rem; }

.main {
  background-color: magenta; }

.footer {
  background-color: cyan; }

.header {
  background-color: red; }

.sidebar {
  background-color: green; }
